{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{% url 'home' %}" {% if request.path == '/' or request.path|slice:":5" == '/shop' %} class="active" {% endif %}>Home</a> |
        <a href="{% url 'shop' %}" {% if request.path|slice:":5" == '/shop' %} class="active" {% endif %}>Shop</a> |
        <a href="{% url 'cart' %}" {% if request.path|slice:":6" == '/cart/' %} class="active" {% endif %}>Cart</a> |
        <a href="{% url 'checkout' %}" {% if request.path|slice:":9" == '/checkout' %} class="active" {% endif %}>Checkout</a>
    </nav>

    <hr>

    <!-- Page-specific content -->
    {% block content %}{% endblock %}

    <footer class="footer">
        <p>&copy; 2025 Vic E-Commerce</p>
    </footer>
</body>
</html>
